
h1, h2, h3, h4, h5, p, a {
    font-family: "roboto";
    color: #343434;
}

.home-banner {
  min-height: calc(100vh - 64px);
  background: url("http://gianlucavaccarini.com/images/hm-bann6.jpg") no-repeat
    center center;
  background-size: cover;
}

.home-banner h1 {
    margin-top: 20vh;
    font-size: 3em;
    color:#343434
}

.home-banner p {
    color:#343434
}

.mid {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body::-webkit-scrollbar {
    width: 0em;
}

.arrow {
  text-align: center;
  margin: 4% 0;
  position: absolute;
  bottom: 0;
  font-size: 1.1em;
  left:30%;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.problem-hm {
    background: #343434;
    text-align: center;
    margin-top:20px;
    padding:40px;
    min-height: 50vh
}

.problem-hm h1 {
    font-weight: 400;
    margin-bottom: 4pc;
    font-size: 3em;
    color: #ffffff
}

.problem-hm p {
    color:#a3a5a7;
    font-size: 1.2em;
    margin-bottom: 4pc;
}

.wii-hm {
    text-align:center;
    padding:40px;
    min-height: 40vh;
}

.wii-hm h1 {
    font-size:3em;
    margin-bottom: 5pc;
}

.wii-hm i {
    font-size: 5em;
    color: #00ACC1;
}

.wii-hm h2 {
    margin-top:3pc;
}

.features-hm {
    background: #343434;
    text-align: center;
    padding: 4pc 40px;
}

.features-hm h2 {
    color: #fff;
    padding:30px 0 20px;
}

.features-hm p {
    color: #a3a5a7;
    margin-bottom:4pc;
}

.carousel-indicators {
    bottom:-18px;
}

.companies-hm {
    padding:4pc;
}

.companies-hm h1 {
    margin-bottom: 4pc;
}

